<div id="page-wrapper">
  <div class="header">
    <h1 class="page-header">
      Dashboard <small>Welcome</small>
    </h1>
    <ol class="breadcrumb">
      <li>Home</li>
      <li>Dashboard</li>
      <li class="active">Data</li>
    </ol>

  </div>
  <div id="page-inner">

    <!-- /. ROW  -->

    <div class="row">
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="board">
          <div class="panel panel-primary">
            <div class="number">
              <h3>
                <h3>{{nbnewclients}}</h3>
                <small>New Clients</small>
              </h3>
            </div>
            <div class="icon">
              <i class="fa fa-eye fa-5x red"></i>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="board">
          <div class="panel panel-primary">
            <div class="number">
              <h3>
                <h3>{{nbnewfactures}}</h3>
                <small>New Factures</small>
              </h3>
            </div>
            <div class="icon">
              <i class="fa fa-shopping-cart fa-5x blue"></i>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="board">
          <div class="panel panel-primary">
            <div class="number">
              <h3>
                <h3>{{nbnewfprduits}}</h3>
                <small>NEW Produits</small>
              </h3>
            </div>
            <div class="icon">
              <i class="fa fa-comments fa-5x green"></i>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="board">
          <div class="panel panel-primary">
            <div class="number">
              <h3>
                <h3>{{newtransactions}}</h3>
                <small>New Transactions</small>
              </h3>
            </div>
            <div class="icon">
              <i class="fa fa-user fa-5x yellow"></i>
            </div>

          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="board">
          <div class="panel panel-primary">
            <div class="number">
              <h3>
                <h3>{{ca}}</h3>
                <small>CA</small>
              </h3>
            </div>
            <div class="icon">
              <i class="fa fa-camera-retro fa-5x red"></i>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="board">
          <div class="panel panel-primary">
            <div class="number">
              <h3>
                <h3>{{dettes}}</h3>
                <small>Dettes Client</small>
              </h3>
            </div>
            <div class="icon">
              <i class="fa fa-exclamation fa-5x blue"></i>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="board">
          <div class="panel panel-primary">
            <div class="number">
              <h3>
                <h3>{{repture}}</h3>
                <small>Produit en repture</small>
              </h3>
            </div>
            <div class="icon">
              <i class="fa fa-eye-slash fa-5x green"></i>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="board">
          <div class="panel panel-primary">
            <div class="number">
              <h3>
                <h3>{{useddevise}}</h3>
                <small>Used Devise</small>
              </h3>
            </div>
            <div class="icon">
              <i class="fa fa-eur fa-5x yellow"></i>
            </div>

          </div>
        </div>
      </div>

    </div>
    <div class="row hide">
      <div class="col-sm-6 col-xs-12">
        <div class="panel panel-default chartJs">
          <div class="panel-heading">
            <div class="card-title">
              <div class="title">Line Chart</div>
            </div>
          </div>
          <div class="panel-body">
            <canvas id="line-chart" class="chart"></canvas>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="panel panel-default chartJs">
          <div class="panel-heading">
            <div class="card-title">
              <div class="title">Bar Chart</div>
            </div>
          </div>
          <div class="panel-body">
            <canvas id="bar-chart" class="chart"></canvas>
          </div>
        </div>
      </div>
    </div>


    <div class="row ">
      <div class="col-xs-6 col-md-3">
        <div class="panel panel-default">
          <div class="panel-body easypiechart-panel">
            <h4>Dettes/CA</h4>
            <div class="easypiechart" id="easypiechart-blue" data-percent="53" ><span class="percent">{{((dettes*100)/ca).toFixed(2)}}%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="panel panel-default">
          <div class="panel-body easypiechart-panel">
            <h4>Produits en repture</h4>
            <div class="easypiechart" id="easypiechart-orange" data-percent="18"><span class="percent">{{(repture*100/nbprod).toFixed(2)}}%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="panel panel-default">
          <div class="panel-body easypiechart-panel">
            <h4>Clients passif</h4>
            <div class="easypiechart" id="easypiechart-teal" data-percent="8"><span class="percent">{{(x*100/nbclient).toFixed(2)}}%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="panel panel-default">
          <div class="panel-body easypiechart-panel">
            <h4>Produits passif</h4>
            <div class="easypiechart" id="easypiechart-red" data-percent="25"><span class="percent">{{(y*100/nbprod).toFixed(2)}}%</span>
            </div>
          </div>
        </div>
      </div>
    </div><!--/.row-->


    <div class="row " hidden>
      <div class="col-md-5 ">
        <div class="panel panel-default">
          <div class="panel-heading">
            Line Chart
          </div>
          <div class="panel-body">
            <div id="morris-line-chart"></div>
          </div>
        </div>
      </div>

      <div class="col-md-7">
        <div class="panel panel-default">
          <div class="panel-heading">
            Bar Chart Example
          </div>
          <div class="panel-body">
            <div id="morris-bar-chart"></div>
          </div>

        </div>
      </div>

    </div>
    <div class="row " hidden>
      <div class="col-md-9 col-sm-12 col-xs-12 hiden">
        <div class="panel panel-default">
          <div class="panel-heading">
            Area Chart
          </div>
          <div class="panel-body hiden">
            <div id="morris-area-chart"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Donut Chart Example
          </div>
          <div class="panel-body">
            <div id="morris-donut-chart"></div>
          </div>
        </div>
      </div>

    </div>

    <!-- /. ROW  -->


    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Clients fidèles
          </div>
          <div class="panel-body">
            <div class="list-group">

              <tr *ngFor="let p of tableauinfo" class="list-group-item">
                <td class="badge">CA = {{getCA(p)[1]}}</td>
                <td><i class="fa fa-fw fa-truck"></i> {{getCA(p)[0]}}</td>
              </tr>


            </div>
          </div>
        </div>

      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">

        <div class="panel panel-default">
          <div class="panel-heading">
            CA et Montants non encore payés par Client globalement
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Nom</th>
                  <th>CA</th>
                  <th>Montant non payés</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let p of resultCAClient">
                  <td>{{p.cutomerid}}</td>
                  <td>{{p.customername}}</td>
                  <td>{{p.ca}}</td>
                  <td class="text-center"><span class="badge">{{p.reste}}</span></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              Les factures réglées et les factures non encore réglées
            </div>
            <div class="panel-body">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">Les factures réglées</a>
                </li>
                <li class=""><a href="#profile" data-toggle="tab">Les factures non réglées</a>
                </li>
              </ul>

              <div class="tab-content">
                <div class="tab-pane fade active in" id="home">
                  <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                      <th>id</th>
                      <th class="col-lg-2">Nom</th>
                      <th class="col-lg-2">Nb factures</th>
                      <th class="col-lg-7">Fac payées</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let p of resultCAClient">
                      <td class="bg"><span class="badge">{{p.cutomerid}}</span></td>
                      <td>{{p.customername}}</td>
                      <td>{{p.invoicespayed.length}}</td>
                      <td>
                        <table class="table bg-warning table-striped table-bordered">
                          <thead>
                          <tr>
                          <th>Id</th>
                          <th>Date</th>
                          <th>Montant</th>
                          <th>Nb Produit</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let pfp of p.invoicespayed">
                            <td class="bg-success">{{pfp.id}}</td>
                            <td class="bg-success">{{pfp.invoiceDate | date:'shortDate' }}</td>
                            <td class="bg-success">{{pfp.amount}}</td>
                            <td class="bg-success">{{pfp.invoiceLines.length}}</td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade" id="profile">
                  <div class="tab-pane fade active in" id="home">
                    <table class="table table-striped table-bordered table-hover">
                      <thead>
                      <tr>
                        <th>id</th>
                        <th class="col-lg-2">Nom</th>
                        <th class="col-lg-2">Nb factures</th>
                        <th class="col-lg-7">Fac non payées</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let p of resultCAClient">
                        <td class="bg"><span class="badge">{{p.cutomerid}}</span></td>
                        <td>{{p.customername}}</td>
                        <td>{{p.invoicesnotpayed.length}}</td>
                        <td>
                          <table class="table bg-warning table-striped table-bordered">
                            <thead>
                            <tr>
                            <th>Id</th>
                            <th>Date</th>
                            <th>Montant</th>
                            <th>Nb Produit</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let pfp of p.invoicesnotpayed">
                              <td class="bg-danger">{{pfp.id}}</td>
                              <td class="bg-danger">{{pfp.invoiceDate | date:'shortDate' }}</td>
                              <td class="bg-danger">{{pfp.amount}}</td>
                              <td class="bg-danger">{{pfp.invoiceLines.length}}</td>
                            </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      <!-- /. ROW  -->
<!--      <div class="col-md-12 col-sm-12 col-xs-12">-->
<!--        <div class="panel panel-default">-->
<!--          <div class="panel-heading">-->
<!--            Les factures réglées et les factures non encore réglées par Client globalement-->
<!--          </div>-->
<!--          <div class="panel-body">-->
<!--            <div class="table-responsive">-->
<!--              <table class="table table-striped table-bordered table-hover">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                  <th>id et Nom</th>-->
<!--                  <th class="col-lg-5">Fac payées</th>-->
<!--                  <th class="col-lg-5">Fac non payées</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr *ngFor="let p of resultCAClient">-->
<!--                  <td class="bg"><span class="badge">{{p.cutomerid}}</span> {{p.customername}}</td>-->
<!--                  <td>-->

<!--                    <table class="table bg-warning table-striped table-bordered">-->
<!--                      <thead>-->
<!--                      <th>Id</th>-->
<!--                      <th>Date</th>-->
<!--                      <th>Montant</th>-->
<!--                      </thead>-->
<!--                      <tbody>-->
<!--                      <tr *ngFor="let pfp of p.invoicespayed">-->
<!--                        <td class="bg-success">{{pfp.id }}</td>-->
<!--                        <td class="bg-success">{{pfp.invoiceDate | date:'shortDate' }}</td>-->
<!--                        <td class="bg-success">{{pfp.amount}}</td>-->
<!--                      </tr>-->
<!--                      </tbody>-->
<!--                    </table>-->
<!--                  </td>-->
<!--                  <td>-->
<!--                    <table class="table bg-warning table-striped table-bordered">-->
<!--                      <thead>-->
<!--                      <th>Id</th>-->
<!--                      <th>Date</th>-->
<!--                      <th>Montant</th>-->
<!--                      </thead>-->
<!--                      <tbody>-->
<!--                      <tr *ngFor="let pfp of p.invoicesnotpayed">-->
<!--                        <td class="bg-danger">{{pfp.id }}</td>-->
<!--                        <td class="bg-danger">{{pfp.invoiceDate | date:'shortDate' }}</td>-->
<!--                        <td class="bg-danger">{{pfp.amount}}</td>-->
<!--                      </tr>-->
<!--                    </table>-->
<!--                  </td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--              </table>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->

      <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="panel panel-default">
          <div class="panel-heading">
            Les produits les plus sollicités par Client globalement
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Nom</th>
                  <th>Produits</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let p of resultCAClient">
                  <td>{{p.cutomerid}}</td>
                  <td>{{p.customername}}</td>
                  <td>
                    <table class="table table-striped table-bordered table-hover">
                      <thead>
                      <tr>
                        <th>id produit et nom</th>
                        <th>fréquence produit</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let pfp of p.stockItems | keyvalue">
                        <th class="px-2">
                          {{pfp.key }}
                        </th>
                        <th class="px-2">
                          {{pfp.value}}
                        </th>
                      </tr>
                    </table>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>


      <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="panel panel-default">
          <div class="panel-heading">
            Chiffres d'affaires Par Année Par Client
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                  <th>Nom Client</th>
                  <th *ngFor="let ann of distinctAnnee">{{ann}}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let p of resultCAClient">
                  <td>{{p.cutomerid }}</td>
                  <td *ngFor="let ann of distinctAnnee">
                    {{recupCAparanne(p.cutomerid, ann)}}
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">

          <div class="panel panel-default">
            <div class="panel-heading">
              Les produits les plus vendus
              <br><br>
              <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button" (click)="updateproductrang(anneeproductrank)">Go!</button>
                    </span>
                  <input type="text" class="form-control" placeholder="Changer l'année" [(ngModel)]="anneeproductrank">
                </div><!-- /input-group -->
              </div><!-- /.col-lg-6 -->
            </div>
            <div class="panel-body">
              <div class="chart-container">
                <canvas id="ProductRankChart">{{ chartProductRank }}</canvas>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="panel panel-default">
          <div class="panel-heading">
            Les produits en rupture de stock
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Nom Produits</th>
                  <th>Prix</th>
                  <th>Catégorie</th>
                  <th>Marque</th>
                  <th>Caractéristiques</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let p of produitrepture">
                  <td>{{p.id}}</td>
                  <td>{{p.stockItemName}}</td>
                  <td>{{p.price}}</td>
                  <td>{{p.categorie.stockItemCategoryName}}</td>
                  <td>{{p.brand}}</td>
                  <td>{{p.carateristique}}</td>
                </tr>
                </tbody>
              </table>
          </div>

    </div>




    <!-- /. ROW  -->
    <!--    <div class="chart-container">-->
    <!--      <canvas  id="MyChart" >{{ chart }}</canvas>-->
    <!--    </div>-->


  </div>
  <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
