<div id="page-wrapper">
  <div class="header">
    <h1 class="page-header">
      Dashboard <small>Welcome</small>
    </h1>
    <ol class="breadcrumb">
      <li>Home</li>
      <li>Dashboard</li>
      <li class="active">Data</li>
    </ol>

  </div>
  <div id="page-inner">

    <!-- /. ROW  -->

    <div class="row">
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="board">
          <div class="panel panel-primary">
            <div class="number">
              <h3>
                <h3>20</h3>
                <small>New customers</small>
              </h3>
            </div>
            <div class="icon">
              <i class="fa fa-eye fa-5x red"></i>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="board">
          <div class="panel panel-primary">
            <div class="number">
              <h3>
                <h3>34</h3>
                <small>New Invoices</small>
              </h3>
            </div>
            <div class="icon">
              <i class="fa fa-shopping-cart fa-5x blue"></i>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="board">
          <div class="panel panel-primary">
            <div class="number">
              <h3>
                <h3>56</h3>
                <small>New Products</small>
              </h3>
            </div>
            <div class="icon">
              <i class="fa fa-comments fa-5x green"></i>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="board">
          <div class="panel panel-primary">
            <div class="number">
              <h3>
                <h3>80</h3>
                <small>Currency</small>
              </h3>
            </div>
            <div class="icon">
              <i class="fa fa-user fa-5x yellow"></i>
            </div>

          </div>
        </div>
      </div>

    </div>
    <div class="row hide">
      <div class="col-sm-6 col-xs-12">
        <div class="panel panel-default chartJs">
          <div class="panel-heading">
            <div class="card-title">
              <div class="title">Line Chart</div>
            </div>
          </div>
          <div class="panel-body">
            <canvas id="line-chart" class="chart"></canvas>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="panel panel-default chartJs">
          <div class="panel-heading">
            <div class="card-title">
              <div class="title">Bar Chart</div>
            </div>
          </div>
          <div class="panel-body">
            <canvas id="bar-chart" class="chart"></canvas>
          </div>
        </div>
      </div>
    </div>


    <div class="row ">
      <div class="col-xs-6 col-md-3">
        <div class="panel panel-default">
          <div class="panel-body easypiechart-panel">
            <h4>Profit</h4>
            <div class="easypiechart" id="easypiechart-blue" data-percent="50" ><span class="percent">50%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="panel panel-default">
          <div class="panel-body easypiechart-panel">
            <h4>Sales</h4>
            <div class="easypiechart" id="easypiechart-orange" data-percent="20" ><span class="percent">20%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="panel panel-default">
          <div class="panel-body easypiechart-panel">
            <h4>Customers</h4>
            <div class="easypiechart" id="easypiechart-teal" data-percent="10" ><span class="percent">10%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="panel panel-default">
          <div class="panel-body easypiechart-panel">
            <h4>No. of Visits</h4>
            <div class="easypiechart" id="easypiechart-red" data-percent="90" ><span class="percent">90%</span>
            </div>
          </div>
        </div>
      </div>
    </div><!--/.row-->


    <div class="row hide">
      <div class="col-md-5 hide">
        <div class="panel panel-default">
          <div class="panel-heading">
            Line Chart
          </div>
          <div class="panel-body">
            <div id="morris-line-chart"></div>
          </div>
        </div>
      </div>

      <div class="col-md-7">
        <div class="panel panel-default">
          <div class="panel-heading">
            Bar Chart Example
          </div>
          <div class="panel-body">
            <div id="morris-bar-chart"></div>
          </div>

        </div>
      </div>

    </div>
    <div class="row hide">
      <div class="col-md-9 col-sm-12 col-xs-12 hiden">
        <div class="panel panel-default">
          <div class="panel-heading">
            Area Chart
          </div>
          <div class="panel-body hiden">
            <div id="morris-area-chart"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Donut Chart Example
          </div>
          <div class="panel-body">
            <div id="morris-donut-chart"></div>
          </div>
        </div>
      </div>

    </div>

    <!-- /. ROW  -->





    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Clients fidèles
          </div>
          <div class="panel-body">
            <div class="list-group">


              <a *ngFor="let p of tableauinfo| keyvalue" class="list-group-item">
                <span class="badge">CA = {{p.value}}</span>
                <i class="fa fa-fw fa-truck"></i> {{p.key}}
              </a>


            </div>
            <div class="text-right">
              More Tasks <i class="fa fa-arrow-circle-right"></i>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="panel panel-default">
          <div class="panel-heading">
            CA et Montants non encore payés par Client globalement
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Nom</th>
                  <th>CA</th>
                  <th>Montant non payés</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let p of resultCAClient">
                  <td>{{p.cutomerid}}</td>
                  <td>{{p.customername}}</td>
                  <td>{{p.ca}}</td>
                  <td>{{p.reste}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="panel panel-default">
          <div class="panel-heading">
            Les factures réglées et les factures non encore réglées par Client globalement
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Nom</th>
                  <th>Fac payées</th>
                  <th>Fac non payées</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let p of resultCAClient">
                  <td>{{p.cutomerid}}</td>
                  <td>{{p.customername}}</td>
                  <td>{{p.payedfacture}}</td>
                  <td>{{p.nonpayedfacture}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="panel panel-default">
          <div class="panel-heading">
            Les produits les plus sollicités par Client globalement
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Nom</th>
                  <th>Produits</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let p of resultCAClient">
                  <td>{{p.cutomerid}}</td>
                  <td>{{p.customername}}</td>
                  <td>{{p.stockItems}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- /. ROW  -->



  </div>
  <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
