<div id="page-wrapper" >
  <div class="header">
    <h1 class="page-header">
      Form Elements <small>Best form elements.</small>
    </h1>
    <ol class="breadcrumb">
      <li><a>Home</a></li>
      <li><a>Client</a></li>
      <li class="active">Ajout</li>
    </ol>

  </div>

  <div id="page-inner">
    <div class="row">
      <div class="col-xs-12">
        <form>
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="card-title">
              <div class="title">Formulaire Client</div>
            </div>
          </div>
          <div class="center">
              <button type="submit" class="btn btn-info mr-10">Ajouter</button>
            <button type="reset" class="btn btn-danger mr-10">Annuler</button>

          </div>
          <div class="panel-body">
            <div class="sub-title">Nom</div>
            <div>
              <input type="text" class="form-control" placeholder="Text input">
            </div>
            <div class="sub-title">Date Naissance</div>
            <div>
              <input type="Date" class="form-control" placeholder="Text input">
            </div>
            <div class="sub-title">Téléphonne</div>
            <div>
              <input type="number" class="form-control" placeholder="Number input">
            </div>
            <div class="sub-title">Email</div>
            <div>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="jane.doe@example.com">
            </div>
            <div class="sub-title">Sélectionner Gatégorie</div>
                <div class="radio3 radio-check radio-inline">
                  <input type="radio" id="radio4" name="radio2" value="option1" checked="">
                  <label for="radio4">
                    Particulier
                  </label>
                </div>
                <div class="radio3 radio-check radio-success radio-inline">
                  <input type="radio" id="radio5" name="radio2" value="option2">
                  <label for="radio5">
                    Entreprise
                  </label>
                </div>
            <div class="sub-title">Adresse</div>
            <div>
              <input type="text" class="form-control mr-20" placeholder="Gouvernerat">
            </div>
            <div>
              <input type="text" class="form-control mr-20" placeholder="Delegation">
            </div>
            <div>
              <input type="text" class="form-control mr-20" placeholder="Déscriptioon Adresse">
            </div>
            <div>
              <input type="text" class="form-control mr-20" placeholder="Code Postal">
            </div>
          </div>
        </div>
        </form>
      </div>

    </div>

  </div>

  <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
