<div id="page-wrapper" >
  <div class="header">
    <h1 class="page-header">
      Formulaire Client <small>Ajout Client.</small>
    </h1>
    <ol class="breadcrumb">
      <li><a>Home</a></li>
      <li><a>Client</a></li>
      <li class="active">Ajout</li>
    </ol>

  </div>

  <div id="page-inner">
    <div class="row">
      <form>
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="card-title">
              <div class="title">Formulaire Client</div>
            </div>
          </div>
          <div class="center">
              <button type="submit" class="btn btn-info mr-10" (click)="ajoutClient()">Ajouter</button>
            <button type="reset" class="btn btn-danger mr-10" (click)="btnannuler()">Annuler</button>

          </div>
          <div class="panel-body">
            <div class="sub-title">Nom</div>
            <div>
              <input type="text" class="form-control" placeholder="Text input" name="customerName" [(ngModel)]="newclient.customerName" >
            </div>
            <div class="sub-title">Date Naissance</div>
            <div>
              <input type="Date" class="form-control" placeholder="Text input" name="dateOfBirith" [(ngModel)]="newclient.dateOfBirith">
            </div>
            <div class="sub-title">Téléphone</div>
            <div>
              <input type="number" class="form-control" placeholder="Number input" name="phoneNumber" [(ngModel)]="newclient.phoneNumber">
            </div>
            <div class="sub-title">Email</div>
            <div>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="jane.doe@example.com" name="customerEmail" [(ngModel)]="newclient.customerEmail">
            </div>
            <div class="sub-title">Sélectionner Catégorie</div>
            <div class="form-group col-md-3">
            <select #selectedCategorie class="form-control">
              <option *ngFor="let d of categories" [value]="d.id">
                {{d.id}}# {{d.customerCategoryName}}
              </option>
            </select>
            <br>
            <div>
              <span class="badge bg-success">Catégorie : {{message}}</span>
            </div>
            </div>
            <div class="col-md-3">
              <button class="btn btn-success" (click)="getValueFromSelectCategorie(selectedCategorie.value)"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
            <br><br><br><br><br>

            <div class="sub-title">Adresse</div>
            <div>
              <input type="text" class="form-control mr-20" placeholder="Pays" name="gouvernorat" [(ngModel)]="adresseclient.gouvernorat" required>
            </div>
            <div>
              <input type="text" class="form-control mr-20" placeholder="Ville" name="delegation" [(ngModel)]="adresseclient.delegation" required>
            </div>
            <div>
              <input type="text" class="form-control mr-20" placeholder="Adresse" name="localite" [(ngModel)]="adresseclient.localite">
            </div>
            <div>
              <input type="number" class="form-control mr-20" placeholder="Code Postal" name="codepostale" [(ngModel)]="adresseclient.codepostale">
            </div>
            <div class="sub-title">Action Todo</div>
            <div>
              <input type="text" class="form-control mr-20" placeholder="To do Client" name="actionToDo" [(ngModel)]="todoclient.actionToDo">
            </div>
          </div>
        </div>
      </div>
      </form>
    </div>

  </div>

  <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
