
  <div id="page-wrapper" >
    <div class="header">
      <h1 class="page-header">
        Tabs & Panels <small>Nice tabs and panels</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Tabs & Panels</a></li>
        <li class="active">Data</li>
      </ol>
    </div>
    <div id="page-inner">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              1 Euro € (EUR)
            </div>
            <div class="panel-body">
              <img src="../assets/img/europe.png" style="width:100px;height:50px;">
            </div>
            <div class="panel-footer">
              <div class="row">
                <div class="col-lg-1"><img src="../assets/img/TNT.png" style="width:40px;height:40px;"></div>
                <div class="col-lg-9 text-right text-primary font-weight-bold"><strong>Dinars Tunsien (TND) = {{euro}}</strong></div>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              1 Dollar $ (USD)
            </div>
            <div class="panel-body">
              <img src="../assets/img/usa.jpg" style="width:100px;height:50px;">
            </div>
            <div class="panel-footer">
              <div class="row">
              <div class="col-lg-1"><img src="../assets/img/TNT.png" style="width:40px;height:40px;"></div>
              <div class="col-lg-9 float-right text-right text-primary">Dinars Tunsien (TND) = {{dollar}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              1 Franc suisse 	₣ (CHF)
            </div>
            <div class="panel-body">
              <img src="../assets/img/suisse.jpg" style="width:100px;height:50px;">
            </div>
            <div class="panel-footer">
              <div class="row">
              <div class="col-lg-1"><img src="../assets/img/TNT.png" style="width:40px;height:40px;"></div>
              <div class="col-lg-9 float-right text-right text-primary">Dinars Tunsien (TND) = {{suisse}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /. ROW  -->
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              1 Dirham (UAE)
            </div>
            <div class="panel-body">
              <img src="../assets/img/UAE jpg.jpg" style="width:100px;height:50px;">
            </div>
            <div class="panel-footer">
              <div class="row">
              <div class="col-lg-1"><img src="../assets/img/TNT.png" style="width:40px;height:40px;"></div>
              <div class="col-lg-9 float-right text-right text-primary">Dinars Tunsien (TND) = {{UAE}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              1 Dirham Saudi (KSA)
            </div>
            <div class="panel-body">
              <img src="../assets/img/Arabie-Saoudite.png" style="width:100px;height:50px;">
            </div>
            <div class="panel-footer">
              <div class="row">
              <div class="col-lg-1"><img src="../assets/img/TNT.png" style="width:40px;height:40px;"></div>
              <div class="col-lg-9 float-right text-right text-primary">Dinars Tunsien (TND) = {{KSA}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              1 Pound £
            </div>
            <div class="panel-body">
              <img src="../assets/img/UK.png" style="width:100px;height:50px;">
            </div>

            <div class="panel-footer">
              <div class="row">
              <div class="col-lg-1"><img src="../assets/img/TNT.png" style="width:40px;height:40px;"></div>
              <div class="col-lg-9 float-right text-right text-primary">Dinars Tunsien (TND) = {{pound}}</div>
              </div>
            </div>
          </div>
        </div>
        </div>
      <div class="col-md-12">
        <!--    Context Classes  -->
        <div class="panel panel-default">

          <div class="panel-heading">
            Détails Devises
          </div>

          <div class="panel-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>Devise</th>
                  <th>Symbole graphique ou lettre</th>
                  <th>Pays</th>
                  <th>Code international</th>
                </tr>
                </thead>
                <tbody>
                <tr class="success">
                  <td>dollar canadien</td>
                  <td>$ CA</td>
                  <td>CANADA</td>
                  <td>CAD</td>
                </tr>
                <tr class="info">
                  <td>dollar américain</td>
                  <td>$ US</td>
                  <td>États-Unis</td>
                  <td>USD</td>
                </tr>
                <tr class="warning">
                  <td>dollar australien</td>
                  <td>$A</td>
                  <td>Australie</td>
                  <td>AUD</td>
                </tr>
                <tr class="danger">
                  <td>dollar de Hong Kong</td>
                  <td>$ HKG</td>
                  <td>Hong Kong</td>
                  <td>HKD</td>
                </tr>

                <tr class="success">
                  <td>euro</td>
                  <td>€</td>
                  <td>Europe</td>
                  <td>EUR</td>
                </tr>
                <tr class="info">
                  <td>Dinar Bahraini</td>
                  <td></td>
                  <td>BAHREÏNI</td>
                  <td>BHD</td>
                </tr>
                <tr class="warning">
                  <td>Riyal Saoudiens</td>
                  <td></td>
                  <td>ARABIE SAOUDITE</td>
                  <td>SAR</td>
                </tr>
                <tr class="danger">
                  <td>peso mexicain</td>
                  <td>$, P, $ MX</td>
                  <td>Mexique</td>
                  <td>MXN</td>
                </tr>

                <tr class="success">
                  <td>Dinar algériens</td>
                  <td></td>
                  <td>ALGÉRIE</td>
                  <td>DZD</td>
                </tr>
                <tr class="info">
                  <td>Dinar Tunisens</td>
                  <td></td>
                  <td>TUNISIE</td>
                  <td>TND</td>
                </tr>
                <tr class="warning">
                  <td>Roupie Indienne</td>
                  <td>$A</td>
                  <td>INDE</td>
                  <td>INR</td>
                </tr>
                <tr class="danger">
                  <td>Yen</td>
                  <td></td>
                  <td>JAPON	</td>
                  <td>JPY</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--  end  Context Classes  -->
      </div>
    </div>

    </div>


