<div id="page-wrapper" >
  <div class="header">
    <h1 class="page-header">
      Page Produits  <small>Tableaux réactifs</small>
    </h1>
    <ol class="breadcrumb">
      <li><a routerLink="/statistique">Home</a></li>
      <li><a>Produits</a></li>
      <li class="active">Données</li>
    </ol>

  </div>

  <div id="page-inner">

    <div class="row">
      <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
          <div class="panel-heading">
            Liste Produis
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Nom</th>
                  <th>Marque</th>
                  <th>Description</th>
                  <th>Prix</th>
                  <th>Qte</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let p of produits" class="odd gradeX">
                  <td>{{p.id}}</td>
                  <td class="center">{{p.stockItemName}}</td>
                  <td>{{p.brand}}</td>
                  <td>{{p.carateristique}}</td>
                  <td class="center">{{p.price}}</td>
                  <td class="center">{{p.quantity}}</td>
                  <td>
                    <button class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true" (click)="DeleteProduit(p.id)"></span></button>
                    <button class="btn btn-success"><span class="glyphicon glyphicon-pencil" aria-hidden="true" [routerLink]="['/editproduit/',p.id]"></span></button>
                  </td>

                  <!--                    <button (click)="HandelDeleteClient(p)" class="btn btn-danger">supp</button>-->
                </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
        <!--End Advanced Tables -->
      </div>
    </div>
    <!-- /. ROW  -->
    <div class="row">
      <div class="col-md-6">
        <!--   Kitchen Sink -->
        <div class="panel panel-default">
          <div class="panel-heading">
            Liste Catégories
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Nom catégorie</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let c of categorieProduit">
                  <td>{{c.id}}</td>
                  <td>{{c.stockItemCategoryName}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- End  Kitchen Sink -->
      </div>
      <div class="col-md-6">
        <!--   Basic Table  -->
        <div class="panel panel-default">
          <div class="panel-heading">
            Validité Produit
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Produit</th>
                  <th>Valide From</th>
                  <th>Valide To</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let p of produits">
                  <td>{{p.id}}</td>
                  <td>{{p.stockItemName}}</td>
                  <td>{{p.validForm}}</td>
                  <td>{{p.validTo}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- End  Basic Table  -->
      </div>
    </div>
    <!-- /. ROW  -->
    <div class="row">
      <div class="col-md-6">
        <!--    Striped Rows Table  -->
        <div class="panel panel-default">
          <div class="panel-heading">
            Produits - Catégories
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Prdouit</th>
                  <th>Id</th>
                  <th>Categorie</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let p of produits">
                  <td>{{p.id}}</td>
                  <td>{{p.stockItemName}}</td>
                  <td>{{p.categorie.id}}</td>
                  <td>{{p.categorie.stockItemCategoryName}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--  End  Striped Rows Table  -->
      </div>
      <div class="col-md-6">
        <!--    Bordered Table  -->
        <div class="panel panel-default">
          <div class="panel-heading">
            Produits - Fournisseur
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <div class="table-responsive table-bordered">
              <table class="table">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Nom</th>
                  <th>Fournisseur</th>
                  <th>Tel Frs</th>
                  <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let p of produits">
                  <td>{{p.id}}</td>
                  <td>{{p.stockItemName}}</td>
                  <td>{{p.fournisseur.nomfournissuer}}</td>
                  <td>{{p.fournisseur.telephone}}</td>
                  <td>{{p.fournisseur.email}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--  End  Bordered Table  -->
      </div>
    </div>

        <div class="row">
          <div class="col-md-6">
            <!--    Hover Rows  -->
            <div class="panel panel-default">
              <div class="panel-heading">
                New Produits
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Produit</th>
                      <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let p of newproduits" class="danger">
                      <td>{{p.id}}</td>
                      <td>{{p.stockItemName}}</td>
                      <td>{{p.accountOpenedDate}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- End  Hover Rows  -->
          </div>
          <div class="col-md-6">
            <!--    Context Classes  -->
            <div class="panel panel-default">

              <div class="panel-heading">
                New Fournisseurs
              </div>

              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Frs</th>
                      <th>tel</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let g of newfournisseur" class="success">
                      <td>{{g.id}}</td>
                      <td>{{g.nomfournissuer}}</td>
                      <td>{{g.telephone}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!--  end  Context Classes  -->
          </div>
        </div>
  </div>
</div>
