<div id="page-wrapper" xmlns="http://www.w3.org/1999/html">
  <div class="header">
    <h1 class="page-header">
      Page Produits  <small>{{produits.length}} Produits</small>
    </h1>
    <ol class="breadcrumb">
      <li>{{date| date:'medium'}}</li>
    </ol>

  </div>

  <div id="page-inner">
    <div class="row">
      <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
          <div class="panel-heading">
            Liste Produits
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Nom</th>
                  <th>Marque</th>
                  <th>Desc</th>
                  <th>Prix</th>
                  <th>Qte</th>
                  <th>Frs</th>
                  <th>Validité</th>
                  <th>Catégorie</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let p of produits" class="odd gradeX">
                  <td>{{p.id}}</td>
                  <td class="center">{{p.stockItemName}}</td>
                  <td>{{p.brand}}</td>
                  <td>{{p.carateristique}}</td>
                  <td class="center">{{p.price}}</td>
                  <td class="center">{{p.quantity}}</td>
                  <td>{{getFrs(p)}}</td>
                  <td>{{p.validForm}} -to- {{p.validTo}}</td>
                  <td>{{p.categorie.stockItemCategoryName}}</td>
                  <td>
                    <button class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true" (click)="DeleteProduit(p.id)"></span></button>
                    <button class="btn btn-success"><span class="glyphicon glyphicon-pencil" aria-hidden="true" [routerLink]="['/editproduit/',p.id]"></span></button>
                  </td>

                  <!--                    <button (click)="HandelDeleteClient(p)" class="btn btn-danger">supp</button>-->
                </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
        <!--End Advanced Tables -->
      </div>
    </div>
    <!-- /. ROW  -->
    <div class="row">
      <div class="col-md-6">
        <!--   Kitchen Sink -->
        <div class="panel panel-default">
          <div class="panel-heading">
            Liste Catégories
          </div>
          <div class="panel-body">
            <div class="center">
              <button type="submit" class="btn btn-info" (click)="ajoutCategorie()">Ajouter</button>
            </div>
            <div class="sub-title">Nom Catégorie</div>
            <div>
              <input type="text" class="form-control" placeholder="Text input" name="customerName" [(ngModel)]="nomcategorie" >
            </div>
            <div>
              <span class="badge bg-success">Catégorie : {{messageCategorie}}</span>
            </div>
            <hr>
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Nom catégorie</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let c of categorieProduit">
                  <td>{{c.id}}</td>
                  <td>{{c.stockItemCategoryName}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- End  Kitchen Sink -->
      </div>
      <div class="col-md-6">
        <!--   Basic Table  -->
        <div class="panel panel-default">
          <div class="panel-heading">
            Liste Fournisseurs
          </div>
          <div class="panel-body">
            <div class="center">
              <button type="submit" class="btn btn-info" (click)="ajoutFournisseur()">Ajouter</button>
            </div>
            <div class="sub-title">Nom Fournisseur</div>
            <div>
              <input type="text" class="form-control" placeholder="Text input" name="customerName" [(ngModel)]="nomfournisseur" >
            </div>
            <div class="sub-title">Téléphone</div>
            <div>
              <input type="number" class="form-control" placeholder="Int input" name="customerName" [(ngModel)]="telfournisseur" >
            </div>
            <div class="sub-title">Email</div>
            <div>
              <input type="email" class="form-control" placeholder="Email input" name="customerName" [(ngModel)]="emailfournisseur" >
            </div>
            <div>
              <span class="badge bg-success">Fournisseur : {{messagefournisseur}}</span>
            </div>
            <hr>
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Nom</th>
                  <th>Tel</th>
                  <th>Mail</th>
                  <th>Date Création</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let p of fournisseurs">
                  <td>{{p.id}}</td>
                  <td>{{p.nomfournissuer}}</td>
                  <td>{{p.telephone}}</td>
                  <td>{{p.email}}</td>
                  <td>{{p.accountOpenedDate}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- End  Basic Table  -->
      </div>
    </div>
    <!-- /. ROW  -->

        <div class="row">
          <div class="col-md-6">
            <!--    Hover Rows  -->
            <div class="panel panel-default">
              <div class="panel-heading">
                New Produits
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Produit</th>
                      <th>Categorie</th>
                      <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let p of newproduits" class="danger">
                      <td>{{p.id}}</td>
                      <td>{{p.stockItemName}}</td>
                      <td>{{p.categorie.stockItemCategoryName}}</td>
                      <td>{{p.accountOpenedDate}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- End  Hover Rows  -->
          </div>
          <div class="col-md-6">
            <!--    Context Classes  -->
            <div class="panel panel-default">

              <div class="panel-heading">
                New Fournisseurs
              </div>

              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Frs</th>
                      <th>Tel</th>
                      <th>Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let g of newfournisseur" class="success">
                      <td>{{g.id}}</td>
                      <td>{{g.nomfournissuer}}</td>
                      <td>{{g.telephone}}</td>
                      <td>{{g.email}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!--  end  Context Classes  -->
          </div>
        </div>

</div>
</div>

