<nav class="navbar-default navbar-side" role="navigation" >
  <div class="sidebar-collapse">
    <ul class="nav" id="main-menu">

      <li>

        <a  routerLink="/statistique"><i class="fa fa-dashboard"></i>Tableau de bord</a>

      </li>
      <li>
        <a  routerLink="/homepage"><i class="fa fa-desktop"></i>Taux d'échange</a>
      </li>

      <li>
        <a href="#"><i class="fa fa-sitemap"></i>Clients<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <a  routerLink="/customers">Liste Clients</a>
          </li>
          <li>
            <a  routerLink="/ajoutclient">Ajout Client</a>
          </li>
        </ul>
      </li>
      <li>
        <a  href="#"><i class="fa fa-sitemap"></i>Produits<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <a routerLink="/products">Liste Produits</a>
          </li>
          <li>
            <a  routerLink="/ajoutproduit">Ajout Produit</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#"><i class="fa fa-sitemap"></i>Facture<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <a  routerLink="/factures">Liste Factures</a>
          </li>
          <li>
            <a routerLink="/ajoutfacture">Ajout Facture</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#"><i class="fa fa-sitemap"></i>Transaction<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
              <a routerLink="/transactions">Liste Transaction</a>
          </li>
          <li>
            <a routerLink="/ajouttransaction">Ajout Transaction</a>
          </li>
        </ul>
      </li>

    </ul>

  </div>

</nav >
<!-- /. NAV SIDE  -->
