<div id="page-wrapper" >
  <div class="header">
    <h1 class="page-header">
      Formulaire Produit <small>Ajout Produit.</small>
    </h1>
    <ol class="breadcrumb">
      <li><a>Home</a></li>
      <li><a>Produit</a></li>
      <li class="active">Ajout</li>
    </ol>

  </div>

  <div id="page-inner">
    <div class="row">
      <div class="col-xs-12">
<!--        (ngSubmit)="ajoutProudit()"-->
        <form >
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="card-title">
                <div class="title">Formulaire Produit</div>
              </div>
            </div>
            <div class="center">
              <button type="submit" class="btn btn-info mr-10" (click)="ajoutProudit()">Ajouter</button>
              <button type="reset" class="btn btn-danger mr-10" (click)="resetaction()">Annuler</button>

            </div>
            <div class="panel-body">
              <div class="sub-title">Nom</div>
              <div>
                <input type="text" class="form-control" placeholder="Text input" name="stockItemName" [(ngModel)]="newproduit.stockItemName" >
              </div>
              <div class="sub-title">Marque</div>
              <div>
                <input type="text" class="form-control" placeholder="Text input" name="brand" [(ngModel)]="newproduit.brand">
              </div>
              <div class="sub-title">Carateristique</div>
              <div>
                <input type="text" class="form-control" placeholder="Text input" name="carateristique" [(ngModel)]="newproduit.carateristique">
              </div>
              <div class="sub-title">Prix</div>
              <div>
                <input type="number" class="form-control"  placeholder="Number input" name="price" [(ngModel)]="newproduit.price">
              </div>
              <div class="sub-title">Quantité</div>
              <div>
                <input type="number" class="form-control"  placeholder="Number input" name="quantity" [(ngModel)]="newproduit.quantity">
              </div>
              <div class="sub-title">Date Fabrication</div>
              <div>
                <input type="Date" class="form-control"  name="ValidFrom" [(ngModel)]="newproduit.validForm">
              </div>
              <div class="sub-title">Date Expertation</div>
              <div>
                <input type="Date" class="form-control"  name="ValidTo" [(ngModel)]="newproduit.validTo">
              </div>

              <div class="sub-title">Sélectionner Gatégorie</div>
              <div class="form-group col-md-3">
                <select #selectedCategorie class="form-control">
                  <option *ngFor="let s of categories" [value]="s.id">
                    {{s.stockItemCategoryName}}
                  </option>
                </select>
                <br>
                <div>
                  <span class="badge bg-success">Catégorie : {{messagecategorie}}</span>
                </div>
              </div>
              <div class="col-md-3">
                <button class="btn btn-success" (click)="getValueFromSelectCategorie(selectedCategorie.value)"><span class="glyphicon glyphicon-plus"></span></button>
              </div>
              <br><br><br><br><br><br>
                  <div class="sub-title">Sélectionner Fournisseur</div>
              <div class="form-group col-md-3">
                <select #selectedFrs class="form-control">
                  <option *ngFor="let d of fournisseurs" [value]="d.id">
                    {{d.nomfournissuer}}
                  </option>
                </select>
                <br>
                <div>
                  <span class="badge bg-success">Fournisseur : {{messageFournisseur}}</span>
                </div>
              </div>
                <div class="col-md-3">
                <button class="btn btn-success" (click)="getValueFromSelectFournisseur(selectedFrs.value)"><span class="glyphicon glyphicon-plus"></span></button>
              </div>

            </div>
          </div>
        </form>
      </div>

    </div>

  </div>

  <!-- /. PAGE INNER  -->
</div>

<!-- /. PAGE WRAPPER  -->
